@import "../../scss/color";

.ao_top{
	width: 100%;
	height: 90px;
	background:$main_blue_1 ;
	color: #fff;
}
.ao_text{
	position: absolute;
	text-align: center;
	width: 50%;
	height: 90px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	line-height: 90px;
	font-size: 32px;
}
.ao_top_row{
	width: 100%;	
}
.ao_top_row .fr{
	font-size: 28px;
	line-height: 90px;
	margin-right: 40px;
	cursor: pointer;
}

.ao_main{
	position: relative;
	width: 100%;
	height: calc(100% - 90px);
}
.ao_leftMenu{
	width: 195px;
	height: 100%;
	background: #E2E3E5;

}
.ao_numList{
	width: 100%;
	height: calc(100% - 150px);
	overflow-y:scroll;
}
::-webkit-scrollbar{
     width:0px;
  }
  .ao_preQue,.ao_nextQue{
	width: 100%;
	overflow: hidden;
	font-size:22px;
	padding-left:20px;
	cursor: pointer;
}
.ao_preQue img,.ao_nextQue img{
	width: calc(39px * 0.66);
}
.ao_nextQue{
	margin-top:50px;
	margin-bottom: 50px;
}

.ao_rightMain{
	position: relative;
	width:calc(100% - 275px);
	height:calc(100% - 80px);
	margin-left:40px;
	margin-top:40px;
}


#btn_back{
	cursor: pointer;
}

/*单选 多选 选项*/
#exam_card{
	width:100%;
	/*overflow-x: scroll;*/
	font-size:22px;
	margin-top: 5%;
}
.one_checkBox{
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.percentW50{
	/*width:50%;*/
	margin-left:auto;
	margin-right:auto;
   }
.mr_10{
	margin-right:10px;
}
.ao_numList li{
	-webkit-border-radius:15px;
	width:30px;
	height: 30px;
	line-height:30px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.ao_numList ul{
	padding-top:10px;
	font-size:18px;
	color: #fff;
}

#exam-question {
	line-height: 38px;
	color: $main_blue_5;
	font-size: 22px;
}

/*左边圆点*/
.and_none{
	background: #999;
}
.ans_orange{
	background: #FF9900;
}
.ans_blue{
	background: $main_blue_1;
}
.fl.one_radiuBox{
	cursor: pointer;
	margin-right: 35px;
}
.fl.one_radiuBox img{
	width:calc(33px * 0.66);
	margin-right:20px;
	margin-left:20px;
}
.modal-dialog.modal-sm{
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-61px;
	margin-left:-150px;
	font-size:22px;
}
.ans_que_ans{
	width:calc(100% - 180px);
	height:calc(100% - 150px);
	overflow-y: scroll;
}

#exam_html{
	width:100%;
}
.che_analysis_show,.che_answer_show{
	width:100%;
}

/*题目解析*/
.che_row{
	width: 70%;
	font-size:22px;
	line-height: 22px;
}
.che_one{
	margin:0 2%;
	float: left;
	line-height:30px;
	cursor: pointer;
}
//.che_video img{
//	width: calc(40px * 0.66);
//}
//.che_analysis img{
//	width: calc(49px * 0.66);
//}
//.che_answer img{
//	width: calc(46px * 0.66);
//}
.dis_none{
	 display: none;
 }
#exam_btn_write, #exam_btn_camera{
	cursor: pointer;
	line-height:43px;
	width: 200px;
	height: 50px;
}

/** hole page -- start */
#exam-outside {
	width: 100%;
	height: 100%;

	&.is-taking {

		.photo-layer {
			display: block;
		}
	}
}
/** hole page -- end */

/** take photo start */
.photo-layer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: none;
	width: 100%;
	height: 100%;
}
/** take photo end */

/** right menu tree start */
.favicon-sidebar {
	position: absolute;
	top: 0;
	right: -250px;
	width: 250px;
	height: 100%;
	z-index: 101;
	background-color: #ddd;
	overflow:scroll;
	transition: right .3s ease-in-out;

	&.is-hidden {
		right: 0;
	}
	::-webkit-scrollbar{
		width:0px;
	}
	@at-root {
		.tree-side {
			width: 100%;

			.headline {
				padding-left: 10px;
				width: 100%;
				font-size: 20px;
				line-height: 44px;
				cursor: pointer;
				height: 44px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&:hover{
				color:$main_blue_1;
			}
			&:nth-child(odd){
				background-color: #ccc;
			}

		}
	}
}
/** right menu tree end */

/** topic store start */
.che_favicon {
	position: absolute;
	top: 0px;
	right: 20px;
	height: 30px;

	span {
		width: 100%;
		height: 100%;

		color: #888;
		font-size: 20px;
		line-height: 1.5em;
		cursor: pointer;

		&::after {
			margin-left: 10px;

			color: #888;
			font-size: 20px;
			line-height: 1.5em;

			content: '收藏';
		}
	}

	&.is-store {

		span {
			color: $main_blue_1;

			&::after {
				color: $main_blue_1;
			}
		}
	}
}
/** topic store end */

@media screen and (min-width: 1280px){

	.fl.one_radiuBox img{
		width:calc(33px * 0.66);
		margin-top:3px;
	}
	.ao_numList li{
		-webkit-border-radius:44px;
		width:44px;
		height: 44px;
		line-height:44px;
		float: left;
		text-align: center;
		margin:6px;
	}
	.one_checkBox{
		line-height:28px;
	}
	/*修改 宽度按像素*比例 */
	.one_checkBox img{
		width:50%;
		margin-right:10px;
	}
	.ao_top{
		width: 100%;
		height: calc(90px * 0.66);
		background:$main_blue_1 ;
		color: #fff;
	}
	.ao_main{
		width: 100%;
		height: calc(100% - (90px * 0.66));
		position: relative;
	}
	.ao_leftMenu{
		width: 195px;
		padding-left:10px;
		height: 100%;
		background: #E2E3E5;
	}
	.ao_rightMain{
		width:calc(100% - (80px * 0.66) - 195px);
		height:calc(100% - (80px * 0.66));
		margin-left:calc(40px * 0.66);
		margin-top:calc(40px * 0.66);
	}
	#answer_Dialog{
		position: absolute;
		z-index: 999;
		width: 180px;
		height : 363px;
		margin-top:-363px;
    }
	.ao_text{
		position: absolute;
		text-align: center;
		width: 50%;
		height: calc(90px * 0.66);
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		line-height: calc(90px * 0.66);
		font-size: calc(32px * 0.66);
	}
	.ao_top_row .fr{
		font-size: calc(28px * 0.66);
		line-height: calc(90px * 0.66);
		margin-right: calc(40px * 0.66);
	}
	#btn_back{
		margin-top:0px;
		margin-left:30px;
		padding:13px;
	}
	#btn_back img{
		width:calc(27px * 0.66);
	}
	/*题目解析*/
	.che_row{
		width: 70%;
		font-size:22px;
		line-height: 22px;
	}
	.che_one{
		line-height:38px;
	}
	.ml{
		margin-left: 10px;
	}
	.mr{
		width:24px;
		margin-top: 7px;
	}
	.ao_nextQue,.ao_preQue{
		margin-left:12px;
	}
	.ao-font{
		margin-left:6px;
	}
	//.che_video img{
	//	width: calc(40px * 0.66);
	//}
	//.che_analysis img{
	//	width: calc(49px * 0.66);
	//}
	//.che_answer img{
	//	width: calc(46px * 0.66);
	//}

}

@media screen and (min-width: 1920px){
	#btn_back{
		padding:20px;
	}
	#btn_back img{
		width:27px;
	}
	.fl.one_radiuBox{
		line-height:33px;
	}
	.fl.one_radiuBox img{
		width:33px;
		margin-top:0;
	}
	.ao_numList ul{
		font-size:22px;
	}
	.ao_numList li{
		-webkit-border-radius:25px;
		width:50px;
		height: 50px;
		line-height:50px;
	}
	.ao_top{
		width: 100%;
		height: 90px;
		background:$main_blue_1 ;
		color: #fff;
	}
	.ao_main{
		width: 100%;
		height: calc(100% - 90px);
	}
	.ao_leftMenu{
		width: 195px;
		padding-left: 0px;
		height: 100%;
		background: #E2E3E5;
	}
	.ao_rightMain{
		width:calc(100% - 280px);
		height:calc(100% - 80px);
		margin-left:40px;
		margin-top:40px;
	}
	.ao_text{
		position: absolute;
		text-align: center;
		width: 50%;
		height: 90px;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		line-height: 90px;
		font-size: 32px;
	}
	.ao_top_row .fr{
		font-size: 28px;
		line-height: 90px;
		margin-right: 40px;
	}
	.ao_preQue,.ao_nextQue{
		line-height:39px;
	}
	.ao_preQue img,.ao_nextQue img{
		width: 39px;
		margin-right:10px;
	}
	.answer-footer{
		font-size:22px;
	}
	/*题目解析*/
	.che_row{
		width: 70%;
		font-size:22px;
		line-height: 22px;
	}
	.che_one{
		line-height:38px;
	}
	//.che_video img{
	//	width: 40px;
	//}
	//.che_analysis img{
	//	width: 49px;
	//}
	//.che_answer img{
	//	width: 46px;
	//}

	.modal-title{
		font-size:24px;
	}
	.modal-footer #btn_exit_save,.modal-footer #btn_exit_off{
		font-size:22px;
	}
}